#__qt_root::shadow input:focus {
  box-sizing: border-box;
  outline: none !important;
}

#__qt_root::shadow .qa-bg {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2000000000;
}

#__qt_root::shadow .qa-wn {
	display: none;
    position: fixed;
    width: 500px;
    z-index: 20000000001;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    margin: 10% auto;
    color: #323232;
    border-radius: 3px;
    background: #F5F5F5;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    color: #333;
    border: 1px solid #7B7B7B;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

#__qt_root::shadow .qa-se-bx {
    padding: 15px;
    border-bottom: 1px solid #E6E6E6;
}

#__qt_root::shadow .qa-se-bx input#qa_se_inp {
	width: 100%;
    display: block;
    border: 1px solid;
    border-left-color: #BCBCBC;
    border-top-color: #ABABAB;
    border-right-color: #BBBBBB;
    border-bottom-color: #C5C5C5;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0;
    color: #323232;
    padding: 5px;
    font-size: 20px;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
    background-color: #fff;
}

/*result elements*/

#__qt_root::shadow ul.qa-res-bx {
    margin: 0;
    padding: 0;
}

#__qt_root::shadow ul.qa-res-bx li.item {
    position: relative;
    display: block;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
	padding: 10px 20px;
    padding-left: 65px;
    border-top: 1px solid #FEFEFE;
    border-bottom: 1px solid #E6E6E6;
    overflow: hidden;
    cursor: pointer;
}

#__qt_root::shadow ul.qa-res-bx li.item .title {
    color: #323232;
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
}

#__qt_root::shadow ul.qa-res-bx li.item .link {
    color: #9C959D  !important;
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-top: 3px;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

#__qt_root::shadow ul.qa-res-bx li.item .icon {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 20px;
    top: 14px;
}

#__qt_root::shadow ul.qa-res-bx li.item.active,  ul.qa-res-bx li.item:hover {
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #D2D2D2;
    background-color: #E1E1E1;
}
